main {
    margin-top: 20px;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    whidth: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 150px;
    background-color: #D0F5A9;
    color: blue;
}
nav{
    width: 100%;
    height: auto;
    background-color: yellowgreen;
    margin-top: 0px;
}

article{
    width: 100%;
    height: auto;
    margin-top: 0%
    background-color: #58FAF4;
    color: #FFF;
}